body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fffffd;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);   
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    font-weight: 700;
    background-color: rgb(57, 56, 55);
    border: 2px solid #060606;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.cart {
    margin-top: 30px;
    color: rgb(5, 5, 5);
    font-weight: 700;
}

.cart h2 {
    text-align: center;
}

.cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.add-to-cart {
    border-radius: 3px;
    background-color: #a2a0a0;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
}

.add-to-cart:hover{
    background-color: white;
    color: black;
}